/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap {
  width: 1040px;
}

/*********************
HERO IMAGE STYLES
*********************/

@media only screen and (min-height: 800px) {
	.machine-hero-wrap, .machine-hero {
		height: 763px;
	}
}

@media only screen and (min-height: 1027px) {
	.machine-hero-wrap, .machine-hero {
		height: 957px;
	}
	.machine-hero {
		padding-top: 220px;
	}
}

.Flexible-container {
    padding-bottom: 45%;
}