/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/

/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1 {;
	font-size: 50px;
}

h2, .h2 {
	font-size: 50px;
	margin-bottom: 60px;
}

h3, .h3 {
	font-size: 25px;
}

h4, .h4 {
	font-size: 1.1em;
}

h5, .h5 {
	font-size: 0.846em;
}
/*********************
MACHINE SHOP SHARED STYLES
*********************/
.machine-details, .machine-team, .machine-space, .machine-events, .machine-join {
	padding: 70px 0 70px 0;
}

.machine-caption {
	font-size: 1em;
	margin-left: 0;
	margin-top: 24px;
	padding: 5px 10px 5px 10px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $machine-beams;
	border-bottom: 2px solid #a22e16;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 500;
}

	#logo {
		img {
			width: auto;
		}
	}
/*********************
NAVIGATION STYLES
*********************/

.nav {
}

	/* .menu is clearfixed inside mixins.scss */
	.menu {
		ul {
			li {
				a {

					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					&:hover, &:focus {

					}
				}

				&:first-child {}
				&:last-child {}

				/*
				plan your menus and drop-downs wisely.
				*/
				ul.sub-menu,
				ul.children {
					li {
						a {
							&:hover,
							&:focus {}
							&:link {}
						}
						&:first-child {}
						&:last-child {}
					}
				}
			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a {}
			}  /* end current highlighters */
		} /* end .menu ul */
	} /* end .menu */

/*********************
HERO IMAGE STYLES
*********************/

.machine-hero {
	background-position: center center;
	background-size: cover!important;
	padding-bottom: 0;

	h2, .h2 {
		font-size: 28px;
		line-height: 48px;
		margin-top: 50px;
	}	

	p {
		font-size: 24px;
		line-height: 36px;
	}
}
.hero-text {
	padding: 0;
}

/*********************
ABOUT STYLES
*********************/

.machine-about {

	.wrap {	
	}

	h2, .h2 {
		text-align: left;
	}

	p {
		padding-bottom: 0;
		text-align: left;
	}

	.machine-caption {
		margin-left: 0;
		margin-top: 24px;
		position: relative;
		bottom: auto;
		right: auto;

	}	

}
.about-text {
	padding: 0;
}

/*********************
TEAM STYLES
*********************/
.machine-partner {
	margin-bottom: 15px;
}

/*********************
EVENTS STYLES
*********************/
.machine-events {
	padding: 70px 0 70px 0;

	h3, .h3 {
		margin-top: 0;
	}
}
/*********************
CONTACT STYLES
*********************/
.Flexible-container {
    padding-bottom: 56.25%;
}


/*********************
AIGA STYLES
*********************/
.aiga-intro, .aiga-featured .machine-events, .aiga-contact {
	padding: 70px 0 70px 0;
}

/*********************
FOOTER STYLES
*********************/

#content .footer {
	font-size: 1em;

	span {
		display: inline;
	}	
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 72px;
}

/* entry content */
.entry-content {


	/* at this larger size, we can start to align images */
	.alignleft, img.alignleft {
		margin-right: 1.5em;
		display: inline;
		float: left;
	}
	.alignright, img.alignright {
		margin-left: 1.5em;
		display: inline;
		float: right;
	}
	.aligncenter, img.aligncenter {
		margin-right: auto;
		margin-left: auto;
		display: block;
		clear: both;
	}

} /* end .entry-content */

/*********************
FOOTER STYLES
*********************/

/*
check your menus here. do they look good?
do they need tweaking?
*/
.footer-links {
	ul {
		li {}
	}
} /* end .footer-links */

/*********************
FORM STYLES
*********************/

.gform_wrapper .gform_footer {
	text-align: left;
}
