/*********************
HEADER STYLES
*********************/

.wrap {
  width: 950px;
}


.header {}

	#logo {
		float: left;
	}

.event-info {
	margin-top: 0;
}	

#content .aiga-subscribe {

	.aiga-subscribe-text {
		padding-top: 4px;
		margin-bottom: 0;
	}

}
