/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/*********************
GENERAL STYLES
*********************/

body {
	background: url('../images/concrete-bkd.jpg') repeat;
	font-family: $sans-serif;
	font-style: $font-style-reset;
	font-weight: $body-weight;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  -webkit-font-smoothing: antialiased;
}

/********************
WORDPRESS BODY CLASSES
style a page via class
********************/

.rtl {}                           /* for sites that are read right to left (i.e. hebrew) */
.home {}                          /* home page */
.blog {}                          /* blog template page */
.archive {}                       /* archive page */
.date {}                          /* date archive page */
	.date-paged-1 {}                /* replace the number to the corresponding page number */
.search {}                        /* search page */
	.search-results {}              /* search result page */
	.search-no-results {}           /* no results search page */
	.search-paged-1 {}              /* individual paged search (i.e. body.search-paged-3) */
.error404 {}                      /* 404 page */
.single {}                        /* single post page */
	.postid-1 {}                    /* individual post page by id (i.e. body.postid-73) */
	.single-paged-1 {}              /* individual paged single (i.e. body.single-paged-3) */
.attachment {}                    /* attatchment page */
	.attachmentid-1 {}              /* individual attatchment page (i.e. body.attachmentid-763) */
	.attachment-mime-type {}        /* style mime type pages */
.author {}                        /* author page */
	.author-nicename {}             /* user nicename (i.e. body.author-samueladams) */
	.author-paged-1 {}              /* paged author archives (i.e. body.author-paged-4) for page 4 */
.category {}                      /* category page */
	.category-1 {}                  /* individual category page (i.e. body.category-6) */
	.category-paged-1 {}            /* replace the number to the corresponding page number */
.tag {}                           /* tag page */
	.tag-slug {}                    /* individual tag page (i.e. body.tag-news) */
	.tag-paged-1 {}                 /* replace the number to the corresponding page number */
.page-template {}                 /* custom page template page */
	.page-template-page-php {}      /* individual page template (i.e. body.page-template-contact-php */
	.page-paged-1 {}                /* replace the number to the corresponding page number */
	.page-parent {}                 /* parent page template */
	.page-child {}                  /* child page template */
	.parent-pageid-1 {}             /* replace the number to the corresponding page number */
.logged-in {}                     /* if user is logged in */
.paged {}                         /* paged items like search results or archives */
	.paged-1 {}                     /* individual paged (i.e. body.paged-3) */

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 90%;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		this highlights links on iPhones/iPads.
		so it basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {;
	font-size: 42px;
	font-weight: $header-weight;
	letter-spacing: 0.02em;
	line-height: 100%;
	margin-bottom: 12px;
	margin-top: 0;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 36px;
	font-weight: $header-weight;
	letter-spacing: 0.02em;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
}

h3, .h3 {
	font-size: 25px;
	font-weight: $header-weight;
	line-height: 28px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}

/*********************
HEADER STYLES
*********************/

.header {
	background-color: $machine-beams;
	border-bottom: 2px solid #a22e16;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 500;
}

	#logo {
		display: inline-block;
		float: left;
		margin: 10px 0 0 0;

		a {
			color: $white;
		}

		img {
			width: 200px;
		}
	}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/

.nav {
	border-bottom: 0;
	margin: 0;

	li {

		a {
			display: block;
			color: $white;
			font-size: 16px;
			font-weight: $header-weight;
			text-decoration: none;
			text-transform: uppercase;

			/*
			remember this is for mobile ONLY, so there's no need
			to even declare hover styles here, you can do it in
			the style.scss file where it's relevant. We want to
			keep this file as small as possible!
			*/
			&:hover, &:focus {

			}
		}

		&:first-child {}

		&:last-child {}

		/*
		so you really have to rethink your dropdowns for mobile.
		you don't want to have it expand too much because the
		screen is so small. How you manage your menu should
		depend on the project. Here's some great info on it:
		http://www.alistapart.com/articles/organizing-mobile/
		*/
		ul.sub-menu,
		ul.children {

			li {

				a {
					padding-left: 30px;

					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {}

	}  /* end current highlighters */

} /* end .nav */
/*********************
MACHINE SHOP SHARED STYLES
*********************/
body.logged-in.admin-bar .header {
	margin-top: 32px;
}
.machine-details, .machine-team, .machine-space, .machine-events, .machine-join {
	padding: 50px 0 50px 0;
}
.machine-caption {
	background-color: $machine-steel;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	margin-left: 24px;
	margin-top: 12px;
	padding: 6px 10px 6px 10px;
	position: relative;
}
.machine-caption:after {
	right: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-right-color: $machine-steel;
	border-width: 17px;
	margin-top: -17px;
}
a.machine-button {
	background: $machine-beams;
	border-bottom: 2px solid #a22e16;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 7px 15px 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
}
/*********************
HERO IMAGE STYLES
*********************/
.machine-hero-wrap {
	overflow: hidden;
	border-bottom: 37px solid $machine-steel;	
}
.machine-hero {
	background-attachment: fixed;
	color: #fff;
	padding-top: 30px;
	padding-bottom: 50px;
	position: relative;
	text-align: center;
	background-position-x: 70%;
	background-position-y: -200px;
	padding-bottom: 0;
	img {
		max-width: 100%;
		height: auto;
	}
	h2, .h2 {
		font-size: 20px;
		font-weight: normal;
		line-height: 36px;
		margin-top: 40px;
	}
	p {
		font-size: 18px;
		line-height: 24px;
	}
}
.wrap.hero-text {
	padding-left: 5%;
	padding-right: 5%;
	max-width: 960px;
}
.machine-steelband {
	background-color: $machine-steel;
	height: 100px;
	position: absolute;
	bottom: 0;
	z-index: 50;
}
.machine-badge {
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -60px;
	margin-bottom: -102px;
	z-index: 100;

}
.machine-badge img {
	width: 120px;
}

/*********************
ABOUT STYLES
*********************/
.machine-about {
	background: #fff url('../images/machine-fabric.jpg') repeat left top;
	border-top: 2px solid #242425;
	height: auto;
	padding: 70px 0 70px 0;

	.wrap {
		position: relative;
	}

	h2, .h2 {
		color: $machine-cool;
		font-size: 32px;
		margin-bottom: 20px;
		text-align: center;
	}

	p {
		text-align: center;
	}

	.machine-caption {
		margin-left: 90px;
		margin-top: 50px;
		position: absolute;
		bottom: 150px;
		right: 0;
	}
}
.about-text {
	padding-left: 5%;
	padding-right: 5%;
}
.about-image img {
	max-width: 100%;
	height:auto;
	margin-bottom: 30px;
}

/*********************
DETAILS STYLES
*********************/
.machine-details {
	background-color: $machine-steel;
	color: #dcdbdc;
	text-align: center;

	h2, .h2 {
		color: $machine-warm;
	}

	h3, p {
		padding-left: 8%;
		padding-right: 8%;
	}

}

/*********************
TEAM STYLES
*********************/
#content .machine-team {
	background-color: $machine-cool;
	color: #fff;
	text-align: center;


	h2, .h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	h3 {
		margin-top: 15px;
	}

	p {
		margin-bottom: 12px;
	}
	p.intro	{
		font-size: 20px;
		margin-bottom: 60px;
		padding: 0 20px 0 20px;
	}

	a {
		color: #87c0c9;
		text-decoration: none;

		&:hover {
			color: #fff;
			-webkit-transition: all .25s ease-in;
			-moz-transition: all .25s ease-in;
			-ms-transition: all .25s ease-in;
			-o-transition: all .25s ease-in;
			transition: all .25s ease-in;
		}
	}
	a:hover img {
		opacity: 0.90;
	}

}
.machine-partner {
	margin-bottom: 30px;
}
/*********************
THE SPACE STYLES
*********************/
.machine-space {
	border-bottom: 1px solid #ccc;

	h2, .h2 {
		text-align: center;
	}
}.machine-slideshow {
	.wooslider {
		border: none;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		-o-border-radius: 0;
		border-radius: 0;
	}
}
#content .machine-slideshow p {
	margin-bottom: 0;
}
/*********************
EVENTS STYLES
*********************/
.machine-events {

	h2, .h2 {
		text-align: center;
	}

	h3, .h3 {
		margin-top: 30px;
	}

	h4, .h4 {
		margin: 0;
	}

	img {
		max-width: 100%;
	}
}
.event-description, .events-more {
	padding-left: 5%;
	padding-right: 5%;
}
#content .event-description p {
	margin-bottom: 14px;
}
ul.events-list {
	border-bottom: 1px solid #ccc;
	padding-top: 10px;
	li a {
		border-top: 1px solid #ccc;
		display: block;
		line-height: 24px;
		padding: 10px 0 10px 0;
		text-decoration: none;
	}
}
.featured-date {
	color: #b74222;
}
.event-date {
	font-weight: 700;
	margin-right: 10px;
}
/*********************
JOIN STYLES
*********************/
.machine-join {
	background-color: $machine-steel;

	h2, .h2 {
		color: #fff;
		text-align: center;
		margin-bottom: 20px;
	}
	p {
		color: $light-gray;
		font-size: 20px;
		padding: 0 20px 0 20px;
		text-align: center;
	}

}

/*********************
CONTACT STYLES
*********************/
.machine-contact {
	background: $machine-steel;

	h2 {
		background: $machine-beams;
		color: #fff;
		font-size: 25px;
		line-height: 50px;
		position: absolute;
		left: 50%;
		margin-left: -100px;
		margin-top: -25px;
		text-align: center;
		width: 200px;
		height: 50px;
		z-index: 200;
	}
}

/*********************
AIGA STYLES
*********************/

.last-col {
	float: none;
}

.aiga-intro, .aiga-featured, .machine-events, .aiga-contact {
	padding: 30px 0 30px 0;
}

.aiga-intro {
	border-bottom: 1px solid #ccc; 
	

	h2, .h2 {
		color: $machine-cool;
		font-size: 32px;
		margin-bottom: 20px;
		text-align: center;
	}

	p {
		text-align: center;
	}

}

.fullscreen-hero {
	  background-repeat: none;
	  background-position: top center;
	  background-size:cover;
	  position:relative;
	  height:100vh;

	  img {
	  	width: 60%;
	  }

	  .hero-text {
		    height: 40vh;
		    margin: 10vh auto;

		h1 {
			font-size: 30px;
			margin-top: 0.5em;
		}    
	  }
}

.hero-logo {
	width: 50%;
}

.aiga-featured {

	h3 {
		margin-bottom: 0;
	}
	h4 {
		color: #b74222;
		margin: 0 0 12px 0;
	}
}

.aiga-subscribe {
	background: gray;
	padding: 10px 0;
}

.aiga-events {

	padding-bottom: 40px;

	.event-heading {
		background: none;
		color: $machine-steel;
		font-weight: $header-weight;
		border-left: none;
		border-right: none;
		border-top: none;
		font-size: 14px;
		margin: 0;
		padding: 15px 20px 15px 55px;
		border-radius: 0;
	}

	.event-date {
		display: none;
		color: $machine-beams;
		float: right;
	}

	.ui-widget {
		font-family: $sans-serif;
	}
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
	left: 15px;
  	margin-top: -12px;
 }
.ui-icon.icon-open {
	background: url('../images/icon-arrows.png') no-repeat left top;
	background-size: 24px;
	width: 24px;
	height: 24px;
}
.ui-icon.icon-closed {
	background: url('../images/icon-arrows.png') no-repeat left bottom;
	background-size: 24px;
	width: 24px;
	height: 24px;
}
.ui-accordion .ui-accordion-content {
	padding-top: 1.5em;
	padding-bottom: 1.5em;
}
.event-overview {
	font-size: 16px;
	line-height: 24px;
}

.event-info {
	font-size: 16px;
	line-height: 24px;
	margin-top: 1em;

	strong {
		margin-right: 10px;
	}
}

#content .aiga-events p {
	margin-bottom: 0;
}

#content .aiga-subscribe {
	background: $machine-warm;
	color: #fff;
	font-size: 18px;
	font-weight: $header-weight;
	padding: 20px 0;

	.aiga-subscribe-text {
		margin-bottom: 1em;
	}

	p {
		margin-bottom: 0;
	}

	.gform_wrapper {
		margin: 0;
	}

	.gform_wrapper .top_label .gfield_label {
		display: none;
	}

	.gform_body {
		float: left;
		width: 75%;
	}

	.gform_wrapper .gform_footer {
		clear: none;
		float: left;
		width: 25%;
		margin: 0;
		padding: 0;
	}

	.gform_wrapper label.gfield_label + div.ginput_container, .gform_wrapper input[type=text] {
		margin: 0;
	}

	.gform_wrapper input[type=text] {
		width: 95%;
		max-width: 95%;
		padding: 5px;
		line-height: 35px;
		font-size: 16px;
		height: 35px;
	}
}

.aiga-connect-item {
	padding: 2.5%;
	position: relative;

	img {
		width: 70%;
	}

	a {
		color: $machine-warm;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}


/* Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    overflow: hidden;
}

.Flexible-container #map-canvas {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#content .machine-infowindow {

	h4, p {
		margin: 5px 10px 5px 20px;
	}
	h4 {
		color: $machine-beams;
		font-size: 18px;
		font-weight: 700;
		text-transform: uppercase;
	}
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
	margin-top: 55px;

	p {
		margin: 0 0 24px 0;
	}
}

		.hentry {
			background-color: $white;

			header {
				border-bottom: 1px solid $light-gray;
				padding: 1.5em;
			}

			footer {
				padding: 1.5em;
				border-top: 1px solid $light-gray;

				p {
					margin: 0;
				}
			}

		} /* end .hentry */

		.single-title,
		.page-title,
		.entry-title {

		}

		.single-title {}

		.page-title {}

		.entry-title {}

		.archive-title {}

		/* want to style individual post classes? Booya! */
		.post-id {}         /* post by id (i.e. post-3) */
		.post {}            /* general post style */
		.page {}            /* general article on a page style */
		.attachment {}      /* general style on an attatchment */
		.sticky {}          /* sticky post style */
		.hentry {}          /* hentry class */
		.category-slug {}   /* style by category (i.e. category-videos) */
		.tag-slug {}        /* style by tag (i.e. tag-news) */

		/* post meta */
		.byline {
			color: $meta-gray;
			font-style: italic;
			margin: 0;

			time {}
		}

		/* entry content */
		.entry-content {
			padding: 2.5em 2.5em 0;

			p {
				margin: 0 0 24px 0;
			}


			ul, ol, table, dl {}

			ul, ol {

				li {}

			}

			ul {

				li {}

			}

			ol {

				li {}

			}

			table {
				width: 100%;
				border: 1px solid $gray;
				margin-bottom: 1.5em;

				caption {
					margin: 0 0 7px;
					font-size: 0.75em;
					color: $meta-gray;
					text-transform: uppercase;
					letter-spacing: 1px;
				}
			}

			tr {
				border-bottom: 1px solid $gray;

				&:nth-child(even) {
					background-color: $light-gray;
				}
			}

			td {
				padding: 7px;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			th {
				background-color: $light-gray;
				border-bottom: 1px solid $gray;
				border-right: 1px solid $gray;

				&:last-child {
					border-right: 0;
				}
			}

			blockquote {
				margin: 0 0 1.5em 0.75em;
				padding: 0 0 0 0.75em;
				border-left: 3px solid $blue;
				font-style: italic;
				color: $meta-gray;

				&:before {}

			}

			dl {}

			dt {}

			dd {
				margin-left: 0;
				font-size: 0.9em;
				color: #787878;
				margin-bottom: 1.5em;
			}

			img {
				margin: 0 0 1.5em 0;
				max-width: 100%;
				height: auto;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			.size-auto,
			.size-full,
			.size-large,
			.size-medium,
			.size-thumbnail {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: $black;
				color: $light-gray;
				font-size: 0.9em;
				padding: 1.5em;
				margin: 0 0 1.5em;
				border-radius: 3px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			/* images inside wp-caption */
			img {
				max-width: 100%;
				margin-bottom: 0;
				width: 100%;
			}

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

		/* image gallery styles */
		.gallery {

			dl {

				a {}

				img {}

			}

			dt {}

			dd {}

		} /* end .gallery */

		/* gallery caption styles */
		.gallery-caption {}

		.size-full {}
		.size-large {}
		.size-medium {}
		.size-thumbnail {}

	// the tag output
	.tags {
		margin: 0;
	}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
	margin: 1.5em 0;
}
	.pagination{
    text-align: center;

    ul {
      display: inline-block;
      background-color: $white;
      white-space: nowrap;
      padding: 0;
      clear: both;
      border-radius: 3px;
    }

    li {
      padding: 0;
      margin: 0;
      float: left;
      display: inline;
      overflow: hidden;
      border-right: 1px solid $gray;
    }

    a, span {
      margin: 0;
      text-decoration: none;
      padding: 0;
      line-height: 1em;
      font-size: 1em;
      font-weight: normal;
      padding: 0.75em;
      min-width: 1em;
      display: block;
      color: $blue;

      &:hover, &:focus {
      	background-color: $blue;
      	color: $white;
      }
    }

    .current{
    	cursor: default;
    	color: $text-color;

    	&:hover, &:focus {
    		background-color: $white;
    		color: $text-color;
    	}
    }

  } /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		ul {}

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/

/* h3 comment title */
#comments-title {
	padding: 0.75em;
	margin: 0;
	border-top: 1px solid $light-gray;

	/* number of comments span */
	span {}

}

.comment-nav {

	ul {

		li {}

	}
}


.commentlist {
	margin: 0;
	list-style-type: none;
}

.comment {
	position: relative;
	clear: both;
	overflow: hidden;
	padding: 1.5em;
	border-bottom: 1px solid $light-gray;

	.comment-author {
		padding: 7px;
		border: 0;
	}

	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;

			a.url {}

		}

		time {
			display: block;
			font-size: 0.9em;
			font-style: italic;

			a {
				color: $meta-gray;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		.photo {}

		.avatar {
			position: absolute;
			left: 16px;
			border-radius: 50%;
		}

	} /* end .commentlist .vcard */

	&:last-child {
		margin-bottom: 0;
	}

	.children {
		margin: 0;

		li {}

			/* variations */
			.comment {}
			.alt {}
			.odd {}
			.even {}
			.depth-1 {}           /* change number for different depth */
			.byuser {}
			.bypostauthor {}
			.comment-author-admin {}

	} /* end children */


	&[class*=depth-] {
		margin-top: 1.1em;
	}

	&.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	&:not(.depth-1) {
		margin-top: 0;
		margin-left: 7px;
		padding: 7px;
	}

	&.depth-2 {}
	&.depth-3 {}
	&.depth-4 {}
	&.depth-5 {}

	/* general comment classes */
	&.alt {}
	&.odd {
		background-color: $white;
	}
	&.even {
		background: $light-gray;
	}
	&.parent {}
	&.comment {}
	&.children {}
	&.pingback {}
	&.bypostauthor {}
	&.comment-author {}
	&.comment-author-admin {}
	&.thread-alt {}
	&.thread-odd {}
	&.thread-even {}
}




	/* comment meta */
	.comment-meta {

		a {}

	}

	.commentmetadata {

		a {}

	}

	/* comment content */
	.comment_content {

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		@extend .blue-btn;
		font-size: 0.9em;
		float: right;

		&:hover,
		&:focus {
		}

	} /* end .commentlist .comment-reply-link */

	/* edit comment link */
	.comment-edit-link {
		font-style: italic;
		margin: 0 7px;
		text-decoration: none;
		font-size: 0.9em;
	}



/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.comment-respond {
	@extend .cf;
	padding: 1.5em;
	border-top: 1px solid $light-gray;
}

	#reply-title {
		margin: 0;
	}

	.logged-in-as {
		color: $meta-gray;
		font-style: italic;
		margin: 0;

		a {
			color: $text-color;
		}
	}

	.comment-form-comment {
		margin: 1.5em 0 0.75em;
	}

	.form-allowed-tags {
		padding: 1.5em;
		background-color: $light-gray;
		font-size: 0.9em;
	}

	/* comment submit button */
	#submit {
		@extend .blue-btn;
		float: right;
		font-size: 1em;
	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* cancel comment reply link */
	#cancel-comment-reply {
		a {}
	}

	/* logged in comments */
	.comments-logged-in-as {}

	/* allowed tags */
	#allowed_tags {
		margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		margin: 0 20px 1.1em;
	}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {}

	.widgettitle {}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}

	.no-widgets {
		background-color: $white;
		padding: 1.5em;
		text-align: center;
		border: 1px solid $border-color;
		border-radius: 2px;
		margin-bottom: 1.5em;
	}

/*********************
FOOTER STYLES
*********************/

#content .footer {
	clear: both;
	background-color: $machine-beams;
	color: #fff;
	font-size: 14px;
	font-weight: 700; 	
	padding: 15px 10px; 
	text-align: center;
	text-transform: uppercase;
	p {
		margin-bottom: 0;
	}
	a {
		color: #fff;
		text-decoration: none;
	}
	span {
		display: block;
	}
}
	.footer-address, .footer-phone, .footer-email, .copyright {
		display: block;
		margin-right: 15px;
		text-align: center;
	}

	/*
	if you checked out the link above:
	http://www.alistapart.com/articles/organizing-mobile/
	you'll want to style the footer nav
	a bit more in-depth. Remember to keep
	it simple because you'll have to
	override these styles for the desktop
	view.
	*/
	.footer-links {

		ul {

			li {}

		}

	} /* end .footer-links */

	.copyright {}

/*********************
SHARED ANIMATIONS
*********************/

.animated { 
	-webkit-animation-duration: 1s; 
	animation-duration: 1s; 
	-webkit-animation-fill-mode: both; 
	animation-fill-mode: both; 
} 

@-webkit-keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        -webkit-transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        -webkit-transform: translateY(0); 
    } 
} 

@keyframes fadeInUp { 
    0% { 
        opacity: 0; 
        transform: translateY(20px); 
    } 
    100% { 
        opacity: 1; 
        transform: translateY(0); 
    } 
} 

.fadeInUp { 
    -webkit-animation-name: fadeInUp; 
    animation-name: fadeInUp; 
}

/* Timed animation */
.timed {
	-webkit-transition: opacity 4s ease;
	-moz-transition: opacity 4s ease;
	-ms-transition: opacity 4s ease;
	-o-transition: opacity 4s ease;
	transition: opacity 4s ease;	
}
/*********************
FORM STYLES
*********************/
#gform_wrapper_1 {
	margin: 60px auto 0 auto;
	width: 90%;
}
.gform_wrapper .top_label .gfield_label {
	color: $light-gray;
}
.machine-join .gform_wrapper input[type=text], .gform_wrapper input[type=url], .gform_wrapper input[type=email], .gform_wrapper input[type=tel], .gform_wrapper input[type=number], .gform_wrapper input[type=password] {
	background: $light-gray;
	font-size: 14px;
	padding: 10px 5px 10px 5px!important;
}

.machine-join .gform_wrapper textarea {
	background: $light-gray;
	font-size: 14px;
	padding: 10px 5px 10px 5px!important;
}
.machine-join .gform_wrapper .gfield_required {
	color: $machine-beams;
}
.contact-name, .contact-email {
	clear: none!important;
	float: left;
	width: 50%;
}
.gform_wrapper .contact-name input, .gform_wrapper .contact-email input {
	max-width: 95%!important;
}
.gform_wrapper .gform_footer {
	text-align: center;
}
.gform_wrapper .gform_footer input.button, .gform_wrapper .gform_footer input[type=submit] {
	background: $machine-beams;
	border: none;
	border-bottom: 2px solid #a22e16;
	color: #fff;
	display: inline-block;
	font-weight: 700;
	padding: 7px 15px 5px 15px;
	text-decoration: none;
	text-transform: uppercase;
}
