/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/
h1, .h1 {
  font-size: 50px; }

h2, .h2 {
  font-size: 50px;
  margin-bottom: 60px; }

h3, .h3 {
  font-size: 25px; }

h4, .h4 {
  font-size: 1.1em; }

h5, .h5 {
  font-size: 0.846em; }

/*********************
MACHINE SHOP SHARED STYLES
*********************/
.machine-details, .machine-team, .machine-space, .machine-events, .machine-join {
  padding: 70px 0 70px 0; }

.machine-caption {
  font-size: 1em;
  margin-left: 0;
  margin-top: 24px;
  padding: 5px 10px 5px 10px; }

/*********************
HEADER STYLES
*********************/
.header {
  background-color: #b74222;
  border-bottom: 2px solid #a22e16;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 500; }

#logo img {
  width: auto; }

/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
      plan your menus and drop-downs wisely.
      */ }
      .menu ul li a {
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }

/* end .menu */
/*********************
HERO IMAGE STYLES
*********************/
.machine-hero {
  background-position: center center;
  background-size: cover !important;
  padding-bottom: 0; }
  .machine-hero h2, .machine-hero .h2 {
    font-size: 28px;
    line-height: 48px;
    margin-top: 50px; }
  .machine-hero p {
    font-size: 24px;
    line-height: 36px; }

.hero-text {
  padding: 0; }

/*********************
ABOUT STYLES
*********************/
.machine-about h2, .machine-about .h2 {
  text-align: left; }
.machine-about p {
  padding-bottom: 0;
  text-align: left; }
.machine-about .machine-caption {
  margin-left: 0;
  margin-top: 24px;
  position: relative;
  bottom: auto;
  right: auto; }

.about-text {
  padding: 0; }

/*********************
TEAM STYLES
*********************/
.machine-partner {
  margin-bottom: 15px; }

/*********************
EVENTS STYLES
*********************/
.machine-events {
  padding: 70px 0 70px 0; }
  .machine-events h3, .machine-events .h3 {
    margin-top: 0; }

/*********************
CONTACT STYLES
*********************/
.Flexible-container {
  padding-bottom: 56.25%; }

/*********************
AIGA STYLES
*********************/
.aiga-intro, .aiga-featured .machine-events, .aiga-contact {
  padding: 70px 0 70px 0; }

/*********************
FOOTER STYLES
*********************/
#content .footer {
  font-size: 1em; }
  #content .footer span {
    display: inline; }

/*********************
POSTS & CONTENT STYLES
*********************/
#content {
  margin-top: 72px; }

/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/*********************
FORM STYLES
*********************/
.gform_wrapper .gform_footer {
  text-align: left; }

/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
p.intro, .machine-join p {
  padding: 0 120px 0 120px; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  width: 760px; }

/*********************
HEADER STYLES
*********************/
#logo {
  display: block;
  float: none;
  clear: both;
  width: 294px;
  margin-left: auto;
  margin-right: auto; }

/*********************
NAVIGATION STYLES
*********************/
.nav {
  border: 0;
  float: right;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav ul {
    margin-top: 0; }
  .nav li {
    float: left;
    position: relative;
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */ }
    .nav li a {
      border-bottom: 0;
      padding: 23px 0.75em 23px 0.75em;
      /*
      you can use hover styles here even though this size
      has the possibility of being a mobile device.
      */ }
      .nav li a:hover, .nav li a:focus {
        color: #ddb1a9;
        text-decoration: none; }
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border: 1px solid #ccc;
      border-top: 0;
      position: absolute;
      overflow: hidden;
      visibility: hidden;
      z-index: 8999;
      /* highlight sub-menu current page */ }
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */ }
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          padding-left: 10px;
          border-right: 0;
          display: block;
          width: 180px;
          border-bottom: 1px solid #ccc; }
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
    .nav li:hover ul {
      top: auto;
      overflow: visible;
      visibility: visible; }

/* end .nav */
/*********************
HERO IMAGE STYLES
*********************/
.machine-hero {
  padding-top: 80px; }
  .machine-hero h2, .machine-hero .h2 {
    font-size: 36px; }

/*********************
TEAM STYLES
*********************/
.machine-partner {
  margin-bottom: 35px; }

/*********************
AIGA STYLES
*********************/
.last-col {
  float: right; }

.fullscreen-hero .hero-text h1 {
  font-size: 50px; }

.aiga-intro .about-text {
  font-size: 115%;
  max-width: 75%;
  margin: 0 auto; }

.featured-item-left {
  padding-right: 2.5%; }

.featured-item-right {
  padding-left: 2.5%; }

.aiga-events .event-heading {
  font-size: 18px; }
.aiga-events .event-date {
  display: block; }
.aiga-events .event-overview {
  padding-right: 2.5%; }
.aiga-events .event-info {
  padding-left: 2.5%; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar {
  margin-top: 2.2em; }

.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em; }

.widget {
  padding: 0 10px;
  margin: 2.2em 0; }
  .widget ul li {
    margin-bottom: 0.75em;
    /* deep nesting */ }
    .widget ul li ul {
      margin-top: 0.75em;
      padding-left: 1em; }

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */ }

/* end .footer-links */
.footer-address, .footer-phone, .footer-email, .copyright {
  display: inline;
  margin-right: 15px;
  text-align: left; }

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
.wrap {
  width: 1040px; }

/*********************
HERO IMAGE STYLES
*********************/
@media only screen and (min-height: 800px) {
  .machine-hero-wrap, .machine-hero {
    height: 763px; } }
@media only screen and (min-height: 1027px) {
  .machine-hero-wrap, .machine-hero {
    height: 957px; }

  .machine-hero {
    padding-top: 220px; } }
.Flexible-container {
  padding-bottom: 45%; }

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
