// normalize: http://necolas.github.io/normalize.css/
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// typography
@import "partials/typography";

// import mixins
@import "partials/mixins";



body {
	font-family: $sans-serif;
	font-style: $font-style-reset;
	font-weight: $body-weight;
	font-size: 100%;
	line-height: 1.5;
	color: $text-color;
  -webkit-font-smoothing: antialiased;
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	text-rendering: optimizelegibility;
	font-weight: 500;
	/*
	if you're going to use webfonts, be sure to check your weights
	http://css-tricks.com/watch-your-font-weight/
	*/

	/* removing text decoration from all headline links */
	a {
		text-decoration: none;
	}
}

h1, .h1 {;
	font-size: 42px;
	font-weight: $header-weight;
	letter-spacing: 0.02em;
	line-height: 100%;
	margin-bottom: 12px;
	margin-top: 0;
	text-transform: uppercase;
}

h2, .h2 {
	font-size: 36px;
	font-weight: $header-weight;
	letter-spacing: 0.02em;
	line-height: 100%;
	margin-top: 0;
	margin-bottom: 50px;
	text-transform: uppercase;
}

h3, .h3 {
	font-size: 25px;
	font-weight: $header-weight;
	line-height: 28px;
	margin-bottom: 12px;
	text-transform: uppercase;
}

h4, .h4 {
	font-size: 1.1em;
	font-weight: 700;
}

h5, .h5 {
	font-size: 0.846em;
	line-height: 2.09em;
	text-transform: uppercase;
	letter-spacing: 2px;
}